.env 
.env~
..env.un~
config.json 
..gitignore.un~
.gitignore~

__pycache__/ 
*.py[cod]
*$py.class
venv/
.venv/
env/

.DS_Store 
Thumbs.db 
ethumbs.db 
Desktop.ini

.vscode/
.idea/

*.log
*.json
!sample_alert.json

Json-Log/
venv/ 
